/*j*/
/*Index y detalle de canción*/
*{
    box-sizing: border-box;
}
.nombrepag{
    font-family: 'Righteous', cursive;
}
.musik{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: azure;
    font-size: 50px;
}
.logo{
    border-radius: 50px;
}
.body_index{
    font-family: 'Work Sans', sans-serif;
    background-color:rgb(5, 9, 19 )
}

.container{
    display: flex;
    flex-direction:row;
    justify-content: space-around;

}
.content{
    background-color:rgb(36, 35, 35);
    margin: 25px;
    padding: 50px;
    color:darkgrey;
    border-radius: 10px;
    border: solid 10px rgb(0, 0, 0);
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color:black;
    list-style: none;
}
a{
    text-decoration: none;
    color:aliceblue;
}
.content_nav{
    color: aliceblue;
    padding: 15px;
}
.h3_index{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: larger;
}

.footer_index{
    display: flex;
    background-color:rgba(39, 52, 77, 0.884);
    color: aliceblue;
    justify-content: right;   
}
.footer_content{
    margin: 10px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.bg{
    background-image: url(../img/musica3.jpg);
}
.index{
    background-image: url(../img/musica3.jpg);
}

/*detalle de canción*/

.main_track{
    background-image: url("../img/musica3.jpg");
}
.detail_track{
    font-size: 30px;
}
.detalle_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.detalle_content{
    background-color: rgb(78, 109, 120);
    padding: 90px;
    margin: 20px;
    border-radius: 50px;
    border: 5px rgb(235, 235, 242) solid;

}

.content_addsong{
    background-color: rgb(38, 55, 70);
    border: solid 3px rgb(23, 42, 58);
    padding: 5px;
    border-radius: 5px;
    color: rgb(196, 205, 212);
}

.body_track{
    font-family: 'Work Sans', sans-serif;
    background-repeat: no-repeat;
    background-position: right;
    background-color:rgb(5, 9, 19 );

}

/*j*/


HEAD
.bodyplaylist{
    font-family: 'Work Sans', sans-serif;
}

/*ff*/
/*detallesdelgenero*/ /*genero*/ /*detalledeldisco*/


/*genero*/
.body_generos{
        font-family: 'Work Sans', sans-serif;
        background-image: url("/img/vecteezy_contemporary-artistic-abstract-aesthetic-background-illustration_.jpg");
        background-repeat: no-repeat;
        background-position: right;
        background-color:rgb(5, 9, 19 )
 }
.fondo{
    background-image: url(../img/musica3.jpg);
}
.sech1{
    display: flex;
    justify-content: center;
}
.arth1{
    background-color: rgb(0, 0, 0);
    margin: 30px;
    border-radius: 40px;
    padding: 20px;
    border: 2px solid rgb(255, 255, 255);
}
.ffh1 {
    color: rgb(220, 215, 215);
    margin: 25px;
    font-size: 60px;
    text-align: center;
}
.pgeneros{
    font-size: 20px;
}
.ffsection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ffarticle{
    background-color: rgb(0, 0, 0);
    margin: 50px;
    border-radius: 20px;
    padding: 80px;
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    margin-left: 5cm;
}
.ff2article{
    background-color: rgb(0, 0, 0);
    margin: 50px;
    border-radius: 20px;
    padding: 80px;
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
}
.ff3article{
    background-color: rgb(0, 0, 0);
    margin: 50px;
    border-radius: 20px;
    padding: 80px;
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    margin-right: 5cm;
}
/*detallesdelgenero*/

.bodydetallegenero{
    font-family: 'Work Sans', sans-serif;
    background-repeat: no-repeat;
    background-position: right;
    background-color:rgb(5, 9, 19 )
}
.artistas {
    color: darkgrey;
    border-radius: 10px;
    margin: 25px;
    padding: 40px;
}

.secdg{
    display: flex;
    justify-content: center;
}
.artdg{
    margin: 30px;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid rgb(255, 255, 255);
    background-color: black;
}
.Dtitulo {
    color: rgb(220, 215, 215);
    font-size: 50px;
    text-align: center;
}

.sectionff{
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
}

.articleff{
    background-color: rgb(0, 0, 0);
    margin: 50px;
    border-radius: 20px;
    padding: 40px;
    border: 2px solid rgb(255, 255, 255);

}
.section2ff{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.article2ff{
    background-color: rgb(255, 255, 255);
    margin: 40px;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid rgb(160, 160, 160);
    
}
.ffcul {
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;
    font-size: 30px;
}
.pff{
    text-align: center;
    color: black;
    font-size: 18px;
}
/*detallesdeldisco*/
.bodydetalledisco{
    font-family: 'Work Sans', sans-serif;
   
    background-size: 10cm;
    background-image: url(../img/Eminem-Lyric-Wallpaper-by-KateAnnexTerrasochi-on-DeviantArt.jpg);
}
.h5ff{
    text-align: center;
}
.h1sec{
    display: flex;
    justify-content: center;

}
.h1art{
    margin: 40px;
    border-radius: 30px;
    padding: 10px;
    border: 2px solid rgb(255, 0, 0);
    background-color: black;
}
.h1ddd{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    
}
.spanff{
    display: flex;
    flex-direction: column;
    color: white;
    border: 2px solid white;
    flex-wrap: wrap;
    width: 600px;
    padding: 20px;
    margin: 10px;
    border-radius: 5%;
    background-color: black;
    }
.h2ff{
        display: flex;
        justify-content: center;
        font-size: 35px;
        }
.h4ff{
            text-align: center;
            font-size: 20px;
        }
.h3ff{
            text-align: center;
        font-size: 25px;
        }
.imgdd{
    display: flex;
    justify-content: center;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
}

.body_generos{
    font-family: 'Work Sans', sans-serif;
    background-image: url("/img/vecteezy_contemporary-artistic-abstract-aesthetic-background-illustration_.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-color:rgb(5, 9, 19 )
}



























/*tb*/

/*playlist*/

.body_pl{
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(5, 9, 19 );
}

.sectpl_h2{
    display: flex;
    justify-content: space-around;
}

.h2_pl{
    color: rgb(196, 205, 212);    
}

.m_pl{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.sec_pl{
    display: flex;
    flex-direction: row;
}

.art_pl{
    text-decoration: none;
    list-style: none;
    border-radius: 10px;
    margin: 10px;
    font-size: 30px;
    border: 4px solid rgb(0, 0, 0);
    padding: 10px;
    background-color:rgb(47, 47, 87) ;
}

.pl_dt{
    text-decoration: none;
    color: black;
}
    
.artpl{
    display: flex;
}

.playlistp{
    display: inline;
    padding: 10px;
}

.addsong_pl{
    background-color: rgb(38, 55, 70);
    border: solid 3px rgb(23, 42, 58);
    padding: 5px;
    border-radius: 5px;
    color: rgb(196, 205, 212);    
}

.h2vp{
    opacity: 0%;
    font-size: 0px;
}

/*detalle de los artistas*/

.body_index{
    font-family: 'Work Sans', sans-serif;
    background-color:rgb(5, 9, 19 )
}

.sect_ad{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7XtauLchPNeTr2Z3Kefs1vqC53EIicaSFfghhMK5bWA5b_dzhxiimCg7uJ-EGm1EnNuU&usqp=CAU);
    background-size: 200px;
    background-repeat: repeat;
}

.h1_ad{
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 40px;
}

.art_ad{
    display: flex;
    justify-content: space-around;
}

.a_ad{
    display: flex;
    flex-direction: column;
    color: white;
    border: 2px solid white;
    flex-wrap: wrap;
    width: 700px;
    padding: 20px;
    border-radius: 5%;
    background-color: rgb(0, 0, 0);
    margin: 30px;
}

.h3_ad{
    text-align: center;
    }

.img_red{
    display: flex;
    justify-content: center;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    border-radius: 5px;
}

.p_da{
    text-decoration: underline;
    text-align: center;
    padding: 15px;
    font-size: larger;
}

.h4_da{
    text-align: center;
}

.even_da{
    border: 2px solid rgb(240, 79, 16);
    padding: 10px;
    border-radius: 15px ;
    text-align: center;
}


/*resultados de búsqueda*/
.container_search{
    background-color: aliceblue;
    padding: 100px;
    margin: 70px;
}

.libox{
    margin: 40px;
}

ul.search{
    list-style-image: url(../img/magnifying-glass-solid.svg);
}

a.buscar{
    color: black;
}

abbr{
    text-decoration: none;
}



/*viewport*/
@media(max-width:420px){
    /*Juli*/
    .container{
        flex-direction: column;
        background-image: none;
        align-items: center;
    }
    .nav{
        flex-wrap:wrap;
        font-size: 10px;
        
    }

    .detalle_container{
        margin: 50px;
    }
    .detalle_content{
        padding: 20px;

    }
    /*Juli*/
    
    .m_pl{
        flex-direction: column;
    }

    .container_search{
        background-color: aliceblue;
        margin: 0px;
        padding: 0px;
    }

    .h1_sr{
        margin: 15px;
        font-size: medium;
    }

    .libox{
        margin: 15px;
    }

    .a_ad{
        width: 400px;
    }

    .img_red{
        width: 350px;
    }    

    .art_pl{
        text-decoration: none;
        list-style: none;
        border-radius: 10px;
        font-size: 15px;
        border: 4px solid rgb(0, 0, 0);
        background-color:rgb(47, 47, 87) ;
    }

    .addsong_pl{
        background-color: rgb(38, 55, 70);
        border: solid 3px rgb(23, 42, 58);
        border-radius: 5px;
        color: rgb(196, 205, 212);    
        font-size: small;
    }

    .h1_ad{
        font-size: 20px;
    }

    .sectpl_h2{
        display: flex;
        flex-direction: row;
   }

    .h2vp{
        color: rgb(196, 205, 212);    
        margin: 15px;
        opacity: 100%;
        font-size: 24px;
    }

    .op{
        opacity: 0%;
        display: flex;

    }
    

     /*ff*/
    /*detallediscos*/
    .bodydetalledisco{
        background-size: 6cm;
    }

    .h1art{
        margin: 10px;
        border-radius: 10px;
        padding: 20px;
        margin-left: 10cm;
    }
    .h1ddd{
        font-size: medium;  
    }
    .spanff{
        width: 400px;
        margin: 10px;
        margin-left: 10cm;
        }
    .h2ff{
            display: flex;
            justify-content: center;
            font-size: small;
            }
    .h4ff{
                text-align: center;
                font-size: small;
            }
    .h3ff{
            
            font-size: small;
            }
    .imgdd{
        display: flex;
        justify-content: center;
        width: 350px;     
    }
    /*generos*/  

     .arth1{
     margin: 40px;

    }
.ffh1 {
margin: 15px;
font-size: medium;
text-align: center;
}
.pgeneros{
font-size: small;
}

.ffarticle{
margin: 15px;
padding: 10px;
}
.ff2article{
margin: 15px;
padding: 10px;
}
.ff3article{
margin: 15px;
padding: 10px;
}

.fondo{
    background-size: cover ;
}

/*detallegenero*/


.artdg{
    margin: 10px;
    margin-left: 10cm;
}
.Dtitulo {
    color: rgb(220, 215, 215);
    font-size: medium;
    text-align: center;
}


.articleff{
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
}


.article2ff{
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
}
.ffcul {
    font-size: small;
}
.pff{
    font-size: small;
}
.imagenff{
    width: 120px;
    height: 120px;
}
.sectionff{
    margin-left: 10cm;
}
.section2ff{
    margin-left: 10cm;
}
}
