/*j*/
/*Index y detalle de canción*/
*{
    box-sizing: border-box;
}
.body_index{
    font-family: 'Work Sans', sans-serif;
    background-repeat: no-repeat;
    background-position: right;
    background-color:rgb(5, 9, 19 )
}

.container{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.content{
    background-color:rgb(15, 27, 55 );
    margin: 25px;
    padding: 80px;
    color:darkgrey;
    border-radius: 10px;
    border: solid 10px rgb(74, 74, 106);
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color:black;
    list-style: none;
}
a{
    text-decoration: none;
    color:aliceblue;
}
.content_nav{
    color: aliceblue;
    padding: 15px;
}
.h3_index{
    text-decoration: underline wavy rgb(14, 141, 220);
}

.footer_index{
    display: flex;
    background-color:rgba(39, 52, 77, 0.884);
    color: aliceblue;
    padding-right: 10px;
    margin: 1px;
    justify-content: right;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

main{
    background-image: url(../img/musica3.jpg);
}
/*detalle de canción*/

.main_track{
    background-image: url("../img/musica3.jpg");
}
.detalle_container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;


}
.detalle_content{
    background-color: rgb(148, 191, 206);
    padding: 100px;
    margin: 20px;
    border-radius: 10px;
    border: 5px rgb(235, 235, 242) solid;

}

.content_addsong{
    background-color: rgb(147, 188, 222);
    border: solid 3px rgb(50, 94, 128);
    padding: 5px;
    border-radius: 5px;

}
.body_track{
    font-family: 'Work Sans', sans-serif;
    background-repeat: no-repeat;
    background-position: right;
    background-color:rgb(5, 9, 19 );
}

/*j*/


HEAD
.bodyplaylist{
    font-family: 'Work Sans', sans-serif;
}

/*ff*/
/*detallesdelgenero*/ /*genero*/ /*detalledeldisco*/


/*genero*/
.body_generos{
    font-family: 'Work Sans', sans-serif;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(31, 4, 57);
    
         }

.ffcul {
    color: darkgrey;
    list-style: none;
    text-decoration: none;
}

.ffh1 {
    color: rgb(220, 215, 215);
    margin: 25px;
    font-size: 80px;
    text-align: center;
}
.sectionff{
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
}

.articleff{
    background-color: rgb(53, 53, 154);
    margin: 50px;
    border-radius: 20px;
    padding: 40px;

}
.section2ff{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.article2ff{
    background-color: rgb(88, 88, 153);
    margin: 40px;
    border-radius: 20px;
    padding: 20px;
}


.pff{
    text-align: center;
}


/*detallesdelgenero*/
.artistas {
    color: darkgrey;
    border-radius: 10px;
    margin: 25px;
    padding: 40px;
}



.Dtitulo {
    color: rgb(220, 215, 215);
    border-radius: 10px;
    margin: 25px;
    padding: 40px;
    font-size: 50px;
    text-align: center;
    background-color: rgb(11, 11, 11);
}
.sectionde{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
.garticle{
    color: rgb(71, 37, 69);
    background-color: rgb(9, 110, 113);
    margin: 40px;
    border-radius: 20px;
    padding: 20px;
}

.bodydetallegenero{
    font-family: 'Work Sans', sans-serif;
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(31, 4, 57);
     }

.h2class {
    font-size: 40px;
}



/*tb*/

/*playlist*/

.h1_pl{
    color: white;
    margin: 30px;
}

.art_pl{
   
    text-decoration: none;
    list-style: none;
    color: black;
    border-radius: 10px;
    margin: 10px;
    font-size: 30px;
    border: 4px solid black;
    padding: 10px;
    background-color:gray ;
}

.sec_pl{
    display: flex;
    flex-direction: row;
    
}

.m_pl{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.body_pl{
    font-family: 'Work Sans', sans-serif;
    background-image: url("/img/vecteezy_contemporary-artistic-abstract-aesthetic-background-illustration_.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-color: black;
}
     
.body_generos{
    font-family: 'Work Sans', sans-serif;
    background-image: url("/img/vecteezy_contemporary-artistic-abstract-aesthetic-background-illustration_.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-color:rgb(5, 9, 19 )
}

.artpl{
    display: flex;
}

/*detalle de los artistas*/

.a_ad{
display: flex;
flex-direction: column;
color: white;
border: 2px solid blue;
flex-wrap: wrap;
width: 400px;
padding: 20px;
margin: 10px;
border-radius: 5%;
}

.play_a{
display: flex;
flex-direction: row;
justify-content: flex-end ; 
margin: 10px;
padding: 20px;
}

.h1_ad{
    color: white;
    text-align: center;}

.h3{
display: flex;
justify-content: center;
}

.art_ad{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.h4_da{
    text-align: center;
}

.a_ad{
display: flex;
flex-wrap: wrap;
}

.ev{
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
    border-radius: 15px ;
}

